body {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
}

// .tutorView {
//     display:inline-flex;
//     background-color:white;
//     box-shadow: .3rem .3rem .3rem rgb(24, 24, 207);
//     border-radius:5px;
//     overflow:hidden;
//     max-width:50%;
//     margin: 3rem auto;
//     transition:.4s;
//     cursor:pointer;
//     text-align:left;
//     .card-img-top {
//         width:400px;
//         height:460px;
//     }
   
// }

.card-title {
    font-size:20px;
    font-weight:600;
    margin-bottom:10px;
}
// .card-description {
//     font-size:14px;
//     color:#4e4e4e;
//     margin-bottom:15px;
// }
// .card-footer {
//     padding:20px;
// }
