.bgImage {
    background-image: url("../../Emptycard.png");
    height: calc(100vh - 275px);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.searchContainer {
    padding: 10 10 10 10;
    
}
.form-control {
    width: 50%;
    margin-left: 200px;
    margin-right: auto;
}

h6 {
    color: white;
    font-size: 36px;
}