.ftCard {
    height: 130px;
    width: 150px;
    // margin-right: 30px;
    display: inline-flex;
    font-size: 11px;
    margin-top: 7px;
    border: 2px solid lightslategray;
    box-shadow: .3rem .3rem .3rem gray;
}

.cardImage {
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.cardHead {
    background: transparent;
    border-bottom-color: transparent !important;
    color: black;
    text-decoration: none;
    font-family: rocky, serif;
    font-weight: 400;
    font-style: normal;


}

.cardBody {
    color: black;
    text-decoration: none;
    font-family: rocky, serif;
    font-weight: 400;
    font-style: normal;
}