.sign-up {
    background: lightsteelblue;
    border: 2px solid lightslategray;
    box-shadow: .3rem .3rem .3rem gray;
    padding: 2rem;
    margin-bottom: 3rem;
}
#userTypeId {
    margin-bottom: 2rem;
}
input {
    border-radius: 5px;
    margin-bottom: 1rem;
}
.clear {
    clear: both;
}