body {
  padding: 0;
  background-color: rgb(231, 229, 229);
  
}
.bgImage {
    background-image: url("../../tutoringpic.png");
    height: calc(100vh - 275px);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}




