.titleName {
    text-decoration: none;
    font-family: heisei-kaku-gothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: rgb(24, 24, 207);
}

nav {
    height: 75px;
    border-bottom: 2px black solid;
}